@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@200&family=Montserrat:wght@300;500&family=Roboto+Condensed:ital@1&display=swap');

*{

font-family: 'IBM Plex Sans Thai Looped', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}



.main{
    text-align: center;
}

mat-form-field{
    margin: 5px;
    width: 25%;
}

.inline-groups{
    margin: 0.5%;
}

button{
    width: 12.5%;
}

.form-group-inline{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
